body {
    color: #ddd !important;
    font-family: 'Lato', sans-serif !important;

    .page-breadcrumbs {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin-top: 20px;
            font-size: 30px;
            margin-bottom: 0;
        }

        ol {
            float: right;
            margin: 0;
            list-style: none;
            background-color: transparent;
            border-radius: 50px;
            background: rgba(220, 208, 208, 0.3);
            padding: 12px 15px;
            margin-left: 15px;

            li {
                display: inline-block;
                font-size: 14px;
                margin-left: 10px;

                i {
                    font-size: 14px;
                    text-shadow: none;
                    display: inline-block;
                    line-height: 14px;
                    -webkit-font-smoothing: antialiased;
                    text-decoration: none;
                    color: #aaa;
                    font-weight: 600;
                }

                a {
                    color: #bdbdbd;
                    text-decoration: none;
                    font-size: 14px;
                    text-shadow: none;
                    margin-right: 10px;
                }
            }
        }
    }

    .input-errors {
        color: #ff2f2f;
        font-size: 12px;
    }

    .form-control {
        background-color: #353c48;
        width: 100%;
        max-width: 250px;
        color: #fff;
        border: 1px solid #464e5b;
        font-size: 14px;
        border-radius: 2px;

        &.is-invalid {
            border: 1px solid #ff2f2f;
        }

        &:focus {
            background-color: transparent;
            color: #fff;
        }

        option {
            background-color: #353C48;
        }
    }

        /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .modal {
        .modal-content {
            background-color: #3C4452;

            .modal-header {
                margin: 0 16px;
                padding: 12px 0;

                h5 {
                    margin-bottom: 0;
                }
            }

            .modal-body {
                h5 {
                    border-bottom: 1px solid #fff;
                    padding-bottom: 15px;
                }

                .adding-new,
                .device-limits {
                    .devices-types {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;

                        label {
                            font-size: 16px;
                            margin-bottom: 0;
                            color: #a9a9a9;

                            &.form-label {
                                color: #fff;
                            }
                        }

                        .limit-wrapper {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            label {
                                margin-bottom: 0;
                                font-size: 14px;
                            }
                        }
                    }

                    .form-control {
                        background-color: transparent;
                        border: 1px solid #767a8259;
                        border-radius: 2px;
                        color: #fff;
                        font-size: 14px;
                    }
                }

                .device-limits {
                    margin-top: 40px;

                    .form-control {
                        max-width: 100px;
                    }
                }

                .goal {
                    margin-top: 15px;

                    .form-group {
                        margin-bottom: 0;

                        input {
                            margin-right: 10px;
                        }
                    }
                }

                .high-severity {
                    margin: 15px 0 0;

                    .checkbox-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 25px;

                        .col-sm-6 {
                            padding: 0 25px;
                        }

                        label {
                            margin-bottom: 0;
                            text-align: right;

                            &.notification-label {
                                margin-right: 15px;

                                input {
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .modal-footer {
                border: none;

                button {
                    border-radius: 2px;
                    min-width: 100px;
                }
            }
        }

        &.edit-physician-modal {
            .modal-content {
                .modal-header {
                    border-bottom: 2px solid #7a7e8273;

                    .modal-title {
                        font-size: 20px;
                        margin-bottom: 0;
                    }
                }

                .modal-body {
                    margin-top: 15px;

                    .physician-info {
                        .col-sm-6 {
                            .col-sm-12 {
                                display: flex;
                                align-items: center;
                            }

                            .col-sm-4,
                            label {
                                margin-bottom: 0;
                            }

                            label {
                                &.gender-label {
                                    &.male {
                                        margin-right: 15px;
                                    }

                                    input {
                                        margin-right: 5px;
                                    }
                                }
                            }

                            .react-datepicker-wrapper {
                                input {
                                    background-color: #353c48;
                                    width: 100%;
                                    max-width: 250px;
                                    color: #fff;
                                    border: 1px solid #464e5b;
                                    font-size: 14px;
                                    border-radius: 2px;
                                    padding: 6px 12px;
                                }
                            }
                        }
                    }
                }

                .modal-footer {
                    border-top: 2px solid #7a7e8273;

                    button {
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}
